
body,.parent{height: 100%; margin-right: 10px;margin-left: 10px;overflow: hidden;}
        .top{position: absolute; top: 20px; left: 0; right: 0; height: 0; background-color: black; height: 100px;}
        .left{position: absolute; top: 100px; left: 0;bottom: 50px; width: 200px; background-color: orange;}
        .right{position: absolute; top: 100px; left: 200px; right: 0; bottom: 50px; background-color: grey; overflow: hidden;}
        .bottom{position: absolute; left: 0; right: 0; bottom: 0; height: 50px; background-color: pink;}


.jumbotron .container{
	width: 100%;
  margin-top:20px;
  margin-bottom:0;
}

.jumbotron {

  max-width:800px;
}


. side_bar{
	margin-top: 150px;

}
.container {
	width: 100%;

	display: flex;
}

.row{

    margin-left: 5px;
}

#show_Details{
    height: 350px;
	 overflow-y: scroll;
}

#map-canvas-left{


	max-width: 650px;
	height: 550px;
  width: 100%;
}
 #left-top {
	margin-left: 5px;
	 height: 200px;
	 overflow-y: scroll;


}
 #map-canvas-right {

	overflow: scroll;
	 padding-left: 40px;
	 width: 100%;


}
#iw_container .iw_title {
	font-size: 16px;
	font-weight: bold;
}
.iw_content {
	padding: 15px 15px 15px 0;
}