{% extends "base.html" %} {% block title %}Explore {% endblock %} {% block content %}

<div class="parent">


  <div class="top">



<div class="jumbotron text-center" style="float:left">
  <div class="container1">
    <h1 class="jumbotron-heading">
      Find a event
    </h1>

    <div id="show_Details"> show_Details </div>

    <p class="lead text-muted">
      search hint with grey color
    </p>


<!--
    <form method="GET" action="{{url_for('event_page.explore')}}">

      <div class="input-group">
       <input type="text" class="form-control" name="location" placeholder="Search for place..."
                id ='autocomplete'>
      <input type="hidden" name="place" id="place">
      <input type="hidden" name='lng' id="lng">
      <input type="hidden" name="lat" id="lat">
        
        <span class="input-group-btn">
        <button class="btn btn-success" type="submit">
          Go!
          </button>
        </span>

      </div>

    </form>
-->
  </div>
</div>
</div>
 <div class="container" style="float:left">
        <div id="map-canvas-left" style="display:none;">



{% if display_party.items  %}
<p class="text-muted text-center">
  event near {{ place }}
</p>

<div class="row">
  {% for event in display_party.items %}
  <div class="col-md-6 party-item">

    <div class="card">



      {% if "photo" in event.keys() %}
      <img class="card-img-top party-photo-item" src="{{ event['photo'] }}">
      {% else %}
      <img class="card-img-top party-photo-item" src="{{url_for('static',filename='img/event.JPG')}}">
      {% endif %}

      <div class="card-block">
        <h4 class="card-title">
          <a href="{{url_for('event_page.public',id=event['id'])}}" target="_blank"> {{ event['event_name'] }} </a>
        </h4>
        <p class="card-text">
          {{ event['description'][:100] }}...
        </p>
        <p class="card-text">
          <i class="fa fa-map-marker" aria-hidden="true"></i>
          <a href="http://map.google.com?q={{event['venue']['address'] }}" target="_blank">
          {{ event['venue']['address'] }}
          </a>

        </p>



      </div>



    </div>




  </div>
  {% endfor %}





</div>

<div class="row justify-content-center">
  <ul class="pagination">
    {% if events.has_prev %}
    <li class="page-item">
    <a class="page-link" href="{{url_for('event_page.explore',page=events.prev_num,place=place,lng=lng,lat=lat)}}">
      <span>&laquo;</span>



      </a>

    </li>
    {% endif %}
    <li class="page-item">
    <p class="page-link">
      Page {{events.page}} of {{events.pages}}
      </p>


    </li>


    {% if events.has_next %}
    <li class="page-item">
    <a class="page-link" href="{{url_for('event_page.explore',page=events.next_num,place=place,lng=lng,lat=lat)}}">
      <span>  &raquo; </span>

      </a>

    </li>
    {% endif %}



  </ul>
</div>


{% elif place %}
<p class="text-muted text-center">
  Near {{place}} We could not find any events here :(
</p>

{% else %}
<p class="text-muted text-center">
  All event in COMP9321 platform
</p>

<div class="row">


  {% for display in display_party %}


  <div class="col-md-6 party-item">

    <div class="card">


      <div class="card-block">

        <p class="card-text">

          {% if 'description' in display.keys() %}

            <h4 class="card-title">
          <a href="{{url_for('event_page.public',id=display['id'])}}" target="_blank"> {{ display['event_name'] }} </a>
        </h4>
            <br>{{ display['description'][:100].replace("<p>"," ").replace("&amp;"," ").replace("</p>"," ") }}...</br>
            <br> event name : {{ display['event_name'] }} </br>
          {% else %}
        <p> No Events description </p>
        {% endif %}

        </p>
        <p class="card-text">
          <i class="fa fa-map-marker" aria-hidden="true"></i>
          <a href="http://map.google.com?q={{ display['venue']['address'] }}" target="_blank">
            {{ display["venue"]["address"] }}</a>



          <br>

          <br>



        </p>



      </div>



    </div>




  </div>
  {% endfor %}





</div>

<div class="row justify-content-center">
  <ul class="pagination">

    <li class="page-item">
    <p class="page-link">


    </li>




  </ul>
</div>

          h </div>
          <div id="left-middle" style="display:block;">
     <div id = 'side_bar'>  middle</div>
     middle</div>



   <div id="map-canvas-right"> a

   </div>


 </div>






</div>

{% endif %}
<script type="text/javascript">




  // *
// * Two maps on the same page
// * 2015 - en.marnoto.com
// *

// necessary variables
var mapLeft, mapRight;
var infoWindowLeft, infoWindowRight;
// markersData variable stores the information necessary to each marker



// +++++++++++++++++++++
// +++++++++++++++++++++
var markersDataRight = '{{ party_json|tojson|safe }}'.replace("//"," ");
var data = markersDataRight.substring(1,markersDataRight.length -1);


var dd = eval('('+data+')');
var gmarkers = [];


function initialize(setMap) {

    gmarkers = [];
   var mapOptions;

   if(setMap == "mapLeft") {
      mapOptions = {
         center: new google.maps.LatLng(-33.91643,151.21050000000002),
         zoom: 11,
         mapTypeId: 'roadmap',
      };

      mapLeft = new google.maps.Map(document.getElementById('map-canvas-left'), mapOptions);

	   // a new Info Window is created
	   infoWindowLeft = new google.maps.InfoWindow();

	   // Event that closes the Info Window with a click on the map
	   google.maps.event.addListener(mapLeft, 'click', function() {
	      infoWindowLeft.close();
   	});

   } else {

      mapOptions = {
         center: new google.maps.LatLng(-33.91643,151.21050000000002),
         zoom: 13,
         mapTypeId: 'roadmap',
      };

	   mapRight = new google.maps.Map(document.getElementById('map-canvas-right'), mapOptions);

	   // a new Info Window is created
	   infoWindowRight = new google.maps.InfoWindow();

	   // Event that closes the Info Window with a click on the map
	   google.maps.event.addListener(mapRight, 'click', function() {
	      infoWindowRight.close();
   	});
   }

   // Finally displayMarkers() function is called to begin the markers creation
   displayMarkers(setMap);

   // Create second map only when initialize function is called for the first time.
   // Second time setMap is equal to mapRight, so this condition returns false and it will not run
   if(setMap == "mapLeft"){
      initialize("mapRight");
   }

}
google.maps.event.addDomListener(window, 'load', function(){ initialize("mapRight") });


// This function will iterate over markersData array
// creating markers with createMarker function
function displayMarkers(setMap){

   var markersData;
   var map;

   if(setMap == "mapLeft"){
      markersData = dd;
      map = mapLeft;
   } else {
      markersData = dd;
      map = mapRight;
   }

   // this variable sets the map bounds according to markers position
   var bounds = new google.maps.LatLngBounds();

   // for loop traverses markersData array calling createMarker function for each marker
   for (var i = 0; i < markersData.length; i++){





      var latlng = new google.maps.LatLng(markersData[i]['venue']['lat'], markersData[i]['venue']['lon']);

      var name = markersData[i]['event_name'];
      // document.write(name);
      var place = markersData[i]['venue']['address'];
      var link = markersData[i]['link']
       var id = markersData[i]['id']
       var local_time = markersData[i]['local_time']
       var venue = markersData[i]['venue']
//      var address2 = markersData[i].address2;
//      var postalCode = markersData[i].postalCode;
//      document.write(gmarkers.length);
      createMarke(setMap, latlng, name, place,link,id,local_time,venue);

      // marker position is added to bounds variable
      bounds.extend(latlng);
   }
   makeSidebar()

   // Finally the bounds variable is used to set the map bounds
   // with fitBounds() function
   map.fitBounds(bounds);
}

// This function creates each marker and it sets their Info Window content
function createMarke(setMap, latlng, name, place,link,id,local_time,venue){

   var map;
   var infoWindow;

   if(setMap == "mapLeft"){
      map = mapLeft;
      infoWindow = infoWindowLeft;
   } else {
      map = mapRight;
      infoWindow = infoWindowRight;
   }

   var marker = new google.maps.Marker({
      map: map,
      position: latlng,
      title: name
   });

    gmarkers.push(marker)
//    document.write(gmarkers.length)
   // This event expects a click on aw marker
   // When this event is fired the Info Window content is created
   // and the Info Window is opened.
   google.maps.event.addListener(marker, 'click', function() {

      // Creating the content to be inserted in the infowindow
      var iwContent = '<div id="iw_container">' +
            '<div class="iw_title">' + name + '</div>' +
         '<div class="iw_content">' +"ID: "+id+'<br />'+"Time: "+local_time+'<br />'+ "Location: "+place + '<br />' +
         "link: "+link + '<br />' +
         '</div></div>';

      // including content to the Info Window.
      infoWindow.setContent(iwContent);

      // opening the Info Window in the current map and at the current marker location.
      infoWindow.open(map, marker);
   });

}



      function myclick(i) {
        document.getElementById("map-canvas-left").style.display="block";

        //document.getElementById("left-middle").style.display="none";

        showDetails(i)


        google.maps.event.trigger(gmarkers[i],"click");

      }
      function makeSidebar() {
        var html = "";
        for (var i=0; i<gmarkers.length; i++) {
          if (gmarkers[i].getVisible()) {
            html += '<a href="javascript:myclick(' + i + ')" id="marker"+i>' + gmarkers[i].title + '<\/a><br>';
            var card_map_new='card_map'+i;

          }
        }

        document.getElementById("side_bar").innerHTML = html;

      }

      function showDetails(i) {
        var html = "";

         html = dd[i]['description'];

        document.getElementById("show_Details").innerHTML = html;

      }

</script>








{% endblock %}




