{% extends "base.html" %}
{% block title %}{{event.name}}{% endblock %}


{% block content %}

<h3>
  {{event['event_name']}}
  
  
</h3>



<div class="row">

  <div class="col-md-8">
    {% if event.party_photo %}
    <img width="100%" src="{{event.party_photo}}">
    {% else %}
    <img width="100%" src="{{url_for('static',filename='img/event.JPG')}}">
    {% endif %}
    
  </div>


  
  
</div>

<hr>
<h3>
  Description
</h3>
<div class="row">
  <div class="col-md-12">
    <p>
      {{ event[0]['description'] }}
    </p>
  </div>
  
</div>

<hr>

<h3>
  Attendees
</h3>


{% endblock %}



