{% extends "base.html" %} {% block title %}Explore {% endblock %} {% block content %}

<div class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">
      Find a event
    </h1>


    <p class="lead text-muted">
      search hint with grey color
    </p>


    <form method="GET" action="{{url_for('event_page.explore')}}">

      <div class="input-group">
       <input type="text" class="form-control" placeholder="Search for place..."
                       id="autocomplete">
      <input type="hidden" name="place" id="place">
      <input type="hidden" name='lng' id="lng">
      <input type="hidden" name="lat" id="lat">

        
        <span class="input-group-btn">
        <button class="btn btn-success" type="submit">
          Go!
          </button>
        </span>

      </div

    </form>

  </div>
</div>

{% if events and events.pages>0 %}
<p class="text-muted text-center">
  event near {{ place }}
</p>

<div class="row">
  {% for event in events.items %}
  <div class="col-md-6 party-item">

    <div class="card">



      {% if event.event_photo %}
      <img class="card-img-top party-photo-item" src="{{event.party_photo }}">
      {% else %}
      <img class="card-img-top party-photo-item" src="{{url_for('static',filename='img/event.JPG')}}">
      {% endif %}

      <div class="card-block">
        <h4 class="card-title">
          <a href="{{url_for('event_page.public',id=event.id)}}" target="_blank"> {{ event.name }} </a>
        </h4>
        <p class="card-text">
          {{event.description[:100] }}...
        </p>
        <p class="card-text">
          <i class="fa fa-map-marker" aria-hidden="true"></i>
          <a href="http://map.google.com?q={{event.place}}" target="_blank">
          {{ event.place }}
          </a>
          <br>
          <i class="fa fa-clock-o" aria-hidden="true"></i> {{ event.start_time.strftime("%Y-%m-%d %I:%M%p") }}
          <br>
          <i class="fa fa-users" aria-hidden="true"></i>{{ event.attendees|length }} attending


        </p>



      </div>



    </div>




  </div>
  {% endfor %}





</div>

<div class="row justify-content-center">
  <ul class="pagination">
    {% if events.has_prev %}
    <li class="page-item">
    <a class="page-link" href="{{url_for('event_page.explore',page=events.prev_num,place=place,lng=lng,lat=lat)}}">
      <span>&laquo;</span>



      </a>

    </li>
    {% endif %}
    <li class="page-item">
    <p class="page-link">
      Page {{events.page}} of {{events.pages}}
      </p>


    </li>


    {% if events.has_next %}
    <li class="page-item">
    <a class="page-link" href="{{url_for('event_page.explore',page=events.next_num,place=place,lng=lng,lat=lat)}}">
      <span>  &raquo; </span>

      </a>

    </li>
    {% endif %}



  </ul>
</div>


{% elif place %}
<p class="text-muted text-center">
  Near {{place}} We could not find any events here :(
</p>

{% else %}
<p class="text-muted text-center">
  All event in COMP9311 platform
</p>

<div class="row">
  {% for display in display_party.items %}
  <div class="col-md-6 party-item">

    <div class="card">



      {% if display.party_photo %}
      <img class="card-img-top party-photo-item" src="{{display.party_photo }}">
      {% else %}
      <img class="card-img-top party-photo-item" src="{{url_for('static',filename='img/event.JPG')}}">
      {% endif %}

      <div class="card-block">
        <h4 class="card-title">
          <a href="{{url_for('event_page.public',id=display.id)}}" target="_blank"> {{ display.name }} </a>
        </h4>
        <p class="card-text">
          {{display.description[:100] }}...
        </p>
        <p class="card-text">
          <i class="fa fa-map-marker" aria-hidden="true"></i>
          <a href="http://map.google.com?q={{display.place}}" target="_blank">
          {{ display.place }}
          </a>
          <br>
          <i class="fa fa-clock-o" aria-hidden="true"></i> {{ display.start_time.strftime("%Y-%m-%d %I:%M%p") }}
          <br>
          <i class="fa fa-users" aria-hidden="true"></i>{{ display.attendees|length }} attending


        </p>



      </div>



    </div>




  </div>
  {% endfor %}





</div>

<div class="row justify-content-center">
  <ul class="pagination">
    {% if display_party.has_prev %}
    <li class="page-item">
    <a class="page-link" href="{{url_for('event_page.explore',page=display_party.prev_num,place=place,lng=lng,lat=lat)}}">
      <span>&laquo;</span>



      </a>

    </li>
    {% endif %}
    <li class="page-item">
    <p class="page-link">
      Page {{display_party.page}} of {{display_party.pages}}
      </p>


    </li>


    {% if display_party.has_next %}
    <li class="page-item">
    <a class="page-link" href="{{url_for('event_page.explore',page=display_party.next_num,place=place,lng=lng,lat=lat)}}">
      <span>  &raquo; </span>

      </a>

    </li>
    {% endif %}



  </ul>
</div>





{% endif %}













{% endblock %}



{% block javascript %}
{% include "googleapi.html" %}
{% endblock %}

