{% extends "base.html" %} {% block title %}Explore {% endblock %} {% block content %}







 <div class="container" style="float:left">



   <div id="map-canvas-left" >

          <h1 class="jumbotron-heading" >
                Event List:
              </h1>
         <div id="left-top" style="display:block;">


                  <div id = 'side_bar'>  Search place in the above box</div>
                <!--<div id = 'businfo'> buses </div>-->


          </div>
       <h1 class="jumbotron-heading" >
                Bus Info:
              </h1>
       <div id='businfo' > bus info



          </div>


          <!--<div class="row">-->

            <h1 class="jumbotron-heading" id = 'show_Details_title' style="display:none;">
                Details
              </h1>
            <br/>
            <!--<div id = "show_Weather"> show_weather</div>-->
             <div id="show_Details" style="display:none;" > show_Details </div>

            <!--</div>-->






</div>





 <div id="map-canvas-right">a

</div>

</div>

<script type="text/javascript">




  // *
// * Two maps on the same page
// * 2015 - en.marnoto.com
// *

// necessary variables
var mapLeft, mapRight;
var infoWindowLeft, infoWindowRight;
// markersData variable stores the information necessary to each marker



// +++++++++++++++++++++
// +++++++++++++++++++++
var markersDataRight = '{{ party_json|tojson|safe }}'.replace("//"," ");

var data = markersDataRight.substring(1,markersDataRight.length -1);


var dd = eval('('+data+')');
var gmarkers = [];
var labels = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';
var labelIndex = 0;

var busMarker =[];


function initialize(setMap) {
    busMarker = []
    gmarkers = [];
   var mapOptions;

   if(setMap == "mapLeft") {
      mapOptions = {
         center: new google.maps.LatLng(-33.91643,151.21050000000002),
         zoom: 11,
         mapTypeId: 'roadmap',
      };

      mapLeft = new google.maps.Map(document.getElementById('map-canvas-left'), mapOptions);

	   // a new Info Window is created
	   infoWindowLeft = new google.maps.InfoWindow();

	   // Event that closes the Info Window with a click on the map
	   google.maps.event.addListener(mapLeft, 'click', function() {
	      infoWindowLeft.close();
   	});

   } else {

      mapOptions = {
         center: new google.maps.LatLng(-33.91643,151.21050000000002),
         zoom: 13,
         mapTypeId: 'roadmap',
      };


	   mapRight = new google.maps.Map(document.getElementById('map-canvas-right'), mapOptions);

	   // a new Info Window is created
	   infoWindowRight = new google.maps.InfoWindow();

	   // Event that closes the Info Window with a click on the map
	   google.maps.event.addListener(mapRight, 'click', function(event) {
	       addMarker(event.latLng, mapRight);
	       post_location(event.latLng,mapRight);
	      infoWindowRight.close();

   	});
   }

   // Finally displayMarkers() function is called to begin the markers creation
   displayMarkers(setMap);

   // Create second map only when initialize function is called for the first time.
   // Second time setMap is equal to mapRight, so this condition returns false and it will not run
   if(setMap == "mapLeft"){
      initialize("mapRight");
   }

}
google.maps.event.addDomListener(window, 'load', function(){ initialize("mapRight") });


// This function will iterate over markersData array
// creating markers with createMarker function
function displayMarkers(setMap){

   var markersData;
   var map;

   if(setMap == "mapLeft"){
      markersData = dd;
      map = mapLeft;
   } else {
      markersData = dd;
      map = mapRight;
   }

   // this variable sets the map bounds according to markers position
   var bounds = new google.maps.LatLngBounds();

   // for loop traverses markersData array calling createMarker function for each marker
   for (var i = 0; i < markersData.length; i++){





      var latlng = new google.maps.LatLng(markersData[i]['venue']['lat'], markersData[i]['venue']['lon']);

      var name = markersData[i]['event_name'];

      // document.write(name);
      var place = markersData[i]['venue']['address'];
      var link = markersData[i]['link'];
       var id = markersData[i]['id'];
       var local_time = markersData[i]['local_time'];
       var venue = markersData[i]['venue'];
//      var address2 = markersData[i].address2;
//      var postalCode = markersData[i].postalCode;
//      document.write(gmarkers.length);
      createMarke(setMap, latlng, name, place,link,id,local_time,venue);

      // marker position is added to bounds variable
      bounds.extend(latlng);
   }
   makeSidebar()

   // Finally the bounds variable is used to set the map bounds
   // with fitBounds() function
   map.fitBounds(bounds);
}

// This function creates each marker and it sets their Info Window content
function getWeather(lat,lng){
    var weather='';
    var AllInfo='';
    //alert("lat");
    //alert(lat);
    //alert("lng");
    //alert(lng);
    var url="https://api.openweathermap.org/data/2.5/weather?lat="+lat+"&lon="+lng+"&APPID=918e20b89257eb6af1d0c75d4336f166";
    var weatherAll =httpGet(url);

//    alert(eval("("+weatherAll+")")["weather"]);
//    var weatherWithComma="'"+ weatherAll+"'";
//    alert(weatherWithComma);
    //alert(weatherAll['weather']);
    //var markersDataRight = '{{ party_json|tojson|safe }}'.replace("//"," ");
//    var weatherSecond= JSON.stringify(weatherAll).split("\\").join("");
//    alert(weatherSecond);


//    var weatherThird = weatherSecond.substring(1,weatherSecond.length -1);
    var weatherOne=JSON.parse(weatherAll);
   // alert(weatherOne);
    weather=weatherOne['weather'][0]['main'];


    var temp = weatherOne['main']['temp'];
    var pressure = weatherOne['main']['pressure'];
    var humidity= weatherOne['main']['humidity'];
    var icon="http://openweathermap.org/img/w/"+weatherOne['weather'][0]['icon']+".png";

    AllInfo= AllInfo+'<img src="'+icon+'">'+'<br/>weather: '+weather+  '<br/>' + 'temp: '+temp+'<br/>'+'pressure: '+pressure+'<br/>'+'humidity: '+humidity+'<br/>';

    //alert(AllInfo);

//    alert(weatherOne["weather"]);
//    var weatherForth = JSON.stringify(weatherOne);

    //weatherThird = "[" + weatherThird +"]"

//    var weatherFifth = eval("("+weatherForth+")");
    //var weatherFifth = eval("("+JSON.stringify(weatherAll)+")");
    //alert(weatherFifth["weather"]);
//    alert(weatherForth);
//    alert(weatherForth["coord"]);
//    alert(weatherForth.weather);
    //document.write(weatherForth);

//    var weatherEval = eval('('+weatherSecond+')');
//    document.write(weatherEval['weather']);

//    weather= weather+weatherForth[0]['weather'];
//
//    document.getElementById("show_Weather").innerHTML = weather;


//
    //alert(AllInfo);
    return AllInfo;
}
  function httpGet(theUrl)
{
    var xmlHttp = new XMLHttpRequest();
    xmlHttp.open( "GET", theUrl, false ); // false for synchronous request
    xmlHttp.send( null );
    return xmlHttp.responseText;
}


function createMarke(setMap, latlng, name, place,link,id,local_time,venue){
//   var weather = getWeather(latlng);
   var map;
   var infoWindow;

   if(setMap == "mapLeft"){
      map = mapLeft;
      infoWindow = infoWindowLeft;
   } else {
      map = mapRight;
      infoWindow = infoWindowRight;
   }

   var marker = new google.maps.Marker({
      map: map,
      position: latlng,
      title: name
   });

    gmarkers.push(marker)
//    document.write(gmarkers.length)
   // This event expects a click on aw marker
   // When this event is fired the Info Window content is created
   // and the Info Window is opened.
   google.maps.event.addListener(marker, 'click', function() {
       var lat=latlng.toString().substring(1,latlng.toString().length-2).split(",")[0];
       var lng=latlng.toString().substring(1,latlng.toString().length-2).split(",")[1].replace(/\s+/g,"");

      var weather = getWeather(lat,lng);

      // Creating the content to be inserted in the infowindow
      var iwContent = '<div id="iw_container">' +
            '<div class="iw_title">' + name + '</div>' +
         '<div class="iw_content">' +"ID: "+id+'<br />'+"Time: "+local_time+'<br />'+ "Location: "+place + '<br />' +
         "link: "+'<a href="'+link+'">'+link +'</a>'+'<br />' +'<br />'+'<span class="iw_title">Weather</span>'+weather+'<br />'
         '</div></div>';

      //document.getElementById("realweather").innerHTML=weather;

      //https://api.openweathermap.org/data/2.5/weather?lat=-33.863926&lon=151.201889&APPID=918e20b89257eb6af1d0c75d4336f166
      // including content to the Info Window.
      infoWindow.setContent(iwContent);

      // opening the Info Window in the current map and at the current marker location.
      infoWindow.open(map, marker);
      post_location(marker.position);
   });

}



      function myclick(i) {
        document.getElementById("show_Details").style.display="block";
        document.getElementById("show_Details_title").style.display="block";


        //document.getElementById("left-middle").style.display="none";

        showDetails(i);


        google.maps.event.trigger(gmarkers[i],"click");
//        google.maps.event.trigger(busMarker[i],"click");


      }
      function myclick1(i) {

        google.maps.event.trigger(busMarker[i],"click");


      }

      function makeSidebar() {
          var html = "";

          for (var i = 0; i < gmarkers.length; i++) {
              if (gmarkers[i].getVisible()) {
                  html += '<a href="javascript:myclick(' + i + ')" id="marker"+i>' + gmarkers[i].title + '<\/a><br>';
                  var card_map_new = 'card_map' + i;

              }
          }


          document.getElementById("side_bar").innerHTML = html;
      }
      function makebussidebar(){
//        document.getElementById("businfo").innerHTML="shit";
        var bushtml = "";

        for (var i=0; i<busMarker.length; i++) {
          if (busMarker[i].getVisible()) {
//              document.write(busMarker[i].title);
            bushtml += '<a href="javascript:myclick1(' + i + ')" id="marker"+i>' + busMarker[i].title  + '<\/a><br>';

            var card_map_new='card_map'+i;

          }
        }

        document.getElementById("businfo").innerHTML = bushtml;

      }

      function showDetails(i) {
        var html = "";
//        getWeather();
        html = dd[i]['description'];

        document.getElementById("show_Details").innerHTML = html;


      }
       // Adds a marker to the map.
      function addMarker(location, map) {
        // Add the marker at the clicked location, and add the next-available label
        // from the array of alphabetical characters.
        var marker = new google.maps.Marker({
          position: location,
          label: labels[labelIndex++ % labels.length],
          map: map
        });
      }

      function post_location(latlng,map)
    {
//        alert("posting")

        const url = 'http://127.0.0.1:5000/event/explore/bus';
        fetch(url, {
            method: 'POST',
            body: JSON.stringify({
                latlng: latlng
            }),
            headers: {'Content-Type': 'application/json'}
        }).then((res)=>res.json())
          .then(function(res,map){


//            alert(typeof(res));
//            alert(res['location'][0]['coord'][0]);
//            alert(res['location'][0]['coord'][1]);

            var resOne= JSON.stringify(res);
//            alert(resOne);
            busMarker = [];

            for(var i=0;i<=res['location'].length;i++) {
                 var infoWindow=infoWindowRight;

                if (res['location'][i]['properties']['distance'] <=200) {


                    var blatlng = new google.maps.LatLng(res['location'][i]['coord'][0], res['location'][i]['coord'][1]);
                    // addMarker(blatlng,mapRight)

                    var bmarker = new google.maps.Marker({
                        map: mapRight,
                        position: blatlng,
                        label: labels[labelIndex++ % labels.length],
                        //title: 'ID: '+res['location'][i]['id'] +'Name: '+res['location'][i]['name']+'<br/>'+'Type: '+res['location'][i]['type']+'<br/>'+'Distance: '+res['location'][i]['properties']['distance']+'<br/>',
                        title: res['location'][i]['name'],
                        icon: 'https://maps.google.com/mapfiles/kml/shapes/parking_lot_maps.png',
                        draggable: true,


                        animation: google.maps.Animation.DROP,
                        //     icon :'http://205.166.161.233/MyRide/css/ico/bus_pointer.svg',


                    });
                    busMarker.push(bmarker);
                    var name = res['location'][i]['name'];
                    var id = res['location'][i]['properties']['STOPPOINT_GLOBAL_ID'];
                    var type = res['location'][i]['type'];
                    var distance = res['location'][i]['properties']['distance'];
                    // bmarker.addListener('click',function () {
                    //     var iwContent = "ID: "+id+"<br/>"+ "Name: "+name+'<br/>'+ "Type: "+type+'<br/>'+"Distance: "+distance+"<br/>";
                    //      // mapRight.setZoom(8);
                    //      infoWindow.setContent(iwContent);
                    //      infoWindow.open(mapRight, bmarker);
                    // })
                    alert(id);
                    google.maps.event.addListener(bmarker, 'click', function() {
                        var iwContent = "ID: "+id+"<br/>"+ "Name: "+name+'<br/>'+ "Type: "+type+'<br/>'+"Distance: "+distance+"<br/>";
                         // mapRight.setZoom(8);
                        alert(iwContent);
                         infoWindow.setContent(iwContent);
                         infoWindow.open(mapRight, bmarker);


                    });

                }

                makebussidebar();

            }


            // var blatlng =new google.maps.LatLng(res['location'][0]['coord'][0],res['location'][0]['coord'][1]);
            // var bmarker = new google.maps.Marker({
            //     map: mapRight,
            //     position: blatlng,
            //     label: labels[labelIndex++ % labels.length],
            //     icon : 'https://maps.google.com/mapfiles/kml/shapes/parking_lot_maps.png',
            //
            //
            // });
            // alert(bmarker.label);




        });

        // alert("ending")
        // var tmp = new google.maps.LatLng(-33.91643,151.21050000000002);
        // addMarker(tmp,mapRight);
    }

</script>








{% endblock %}




